<%= form_with(model: spending, local: true) do |form| %>
  <% if spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
      <% spending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select(:user_id, options_for_select(@users), :prompt => "Select a chapter!", :class => "form-control") %>
  </div>

  <div class="field">
    <%= form.label "Description" %>
    <%= form.text_area :desc, id: :spending_desc, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points, id: :spending_points, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "form-control" %>
  </div>
<% end %>
