<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @spending.user.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @spending.points.to_s %>
</p>

<%= link_to 'Edit', edit_spending_path(@spending) %> |
<%= link_to 'Back', spendings_path %>
