<p id="notice"><%= notice %></p>

<h1>Chapter Actions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chapter_actions.each do |chapter_action| %>
      <tr>
        <td><%= chapter_action.user %></td>
        <td><%= chapter_action.points %></td>
        <td><%= chapter_action.note %></td>
        <td><%= link_to 'Show', chapter_action %></td>
        <td><%= link_to 'Edit', edit_chapter_action_path(chapter_action) %></td>
        <td><%= link_to 'Destroy', chapter_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapter Action', new_chapter_action_path %>
