<div class="col">
  <h1>Stats</h1>

  <table class="table">
    <tr>
      <td>Community Building Points</td>
      <td><%= @cb_points.to_s %></td>
    </tr>
    <tr>
      <td>Policy Change Points</td>
      <td><%= @pc_points.to_s %></td>
    </tr>
    <tr>
      <td>Training and Education Points</td>
      <td><%= @te_points.to_s %></td>
    </tr>
    <tr>
      <td>Total Earned</td>
      <td><%= @actions.sum("points") %></td>
    </tr>
    <tr>
      <td>Total Spent</td>
      <td><%= @spendings.sum("points") %></td>
    </tr>
    <tr>
      <td>High Quality Community Builders</td>
      <td><%= @hq_cb.to_s %></td>
    </tr>
    <tr>
      <td>High Quality Advocates</td>
      <td><%= @hq_pc.to_s %></td>
    </tr>
    <tr>
      <td>High Quality Educators</td>
      <td><%= @hq_te.to_s %></td>
    </tr>
    <tr>
      <td>High Quality Chapters</td>
      <td><%= @hq.to_s %></td>
    </tr>
  </table>
  <h1>Completed Activities</h1>
  <table class="table">
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= link_to category.name, category_path(id: category.id) %></a>
        </td>
        <td><%= @actions.where("category_id=#{category.id}").count%></td>
      </tr>
      <% end %>
    </table>
  </div>
