<p id="notice"><%= notice %></p>

<h1>Available Activities</h1>
<p>These are all the available activities that your chapter can complete. <!--Not functional? <a href="#espanol">En Español</a>--></p>
<h2>Chapter Building</h2>
<%= render partial: "table", locals: {categories: @chapter_building_categories} %>
<h2>Policy Change</h2>
<%= render partial: "table", locals: {categories: @policy_change_categories} %>
<h2>Training and Education</h2>
<%= render partial: "table", locals: {categories: @training_and_education_categories} %>

<% if user_signed_in? %>
<% if current_user.permissions == "administrator" %>
<%= link_to 'New Category', new_category_path %>
<% end %>
<% end %>
