<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @category.desc %>
</p>

<p>
  <strong>Default points:</strong>
  <%= @category.default_points %>
</p>

<p>
  <strong>Bucket:</strong>
  <%= Bucket.find(@category.bucket_id).name %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<br>

<table>
  <tr>
    <th>Chapter</th>
    <th>Date</th>
  </tr>
<% @actions.each do |action| %>
  <tr>
    <td><%= User.where("id=#{action.user_id}")[0].name%></td>
    <td><%= action.created_at %></td>
  </tr>
<% end %>
</table>
