<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :chapter_universe  %>
    <%= form.text_field :chapter_universe, id: :report_chapter_universe, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :task_universe %>
    <%= form.text_field :task_universe, id: :report_task_universe, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :time_window %>
    <%= form.text_field :time_window, id: :report_time_window, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "form-control" %>
  </div>
<% end %>
