<!DOCTYPE html>
<html>
  <head>
    <title>SSDP CAT</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('ssdp_favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Mobile viewport scale tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render "partials/nav" %>
    <div class="container">
      <p>Hey! Listen! The CAT has been updated to v4.0.0. Go check out the <a href="/release-notes">release notes</a> for important information about that!</p>
    <%= yield %>
  </div>
  </body>
</html>
